body {
  width: 100%;
  height: 100%;
  margin: 0;
}

div.header{
  width: 100%;
  height: 100%;
  background-color: #34495e;
	background-image: url("../assets/images/confetti.svg"), url("../assets/images/p1.svg"), url("../assets/images/p2.svg"), url("../assets/images/p3.svg");
  background-size: auto, 220px 220px, 110px, 110px, 30px 30px;
  background-repeat: no-repeat, repeat, repeat, repeat;
	position: fixed;
	z-index:-1;
	animation: poppers 30s linear infinite;
}

@keyframes poppers {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;}
  25% {background-position: 0px 0px, 60px 500px, 10px 400px, -50px 150px;}
  75% {background-position: 0px 0px, 0px 1000px, 80px 800px, -100px 300px;}
  100% {background-position: 0px 0px, 20px 1500px, 0px 1000px, -200px 600px;}
}

@font-face {
    font-family: Reef;
    src: url(../assets/fonts/Reef.otf);
}

@font-face {
    font-family: Paralines;
    src: url(../assets/fonts/Paralines.otf);
}

#party {
  text-align: center;
  margin-top: 20%;
  font-size: 20vh;
  font-family: Paralines;
  color: white;
  animation: blink 4s linear infinite;
}

@keyframes blink {
  0% {  text-shadow: 0 0 5px #3498db;}
  50% {  text-shadow: 0 0 10px #3498db, 0 0 15px #3498db, 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db, 0 0 50px #3498db, 0 0 60px #3498db, 0 0 70px #3498db, 0 0 80px #3498db, 0 0 90px #3498db, 0 0 100px #3498db;}
  100% {  text-shadow: 0 0 5px #3498db;}
}

#hinttext {
  text-align: center;
  font-size: 5vh;
  margin: auto;
  font-family: Paralines;
  color: white;
  animation: blink 4s linear infinite;
}

.info1 {
  background-color:white;
  padding:  5vh 5vw;
  opacity: 0.8;
  position: relative;
  top: 100vh;
}

#infotext {
  text-align: center;
  font-size: 4.5vh;
  font-family: Reef;
}

.info2 {
  background-color:white;
  padding:  5vh 5vw;
  opacity: 0.8;
  position: relative;
  top: 150vh;
}
