/* PARTY PLANNER */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../assets/images/background.svg");
  background-attachment: fixed;
  background-size: cover;
}

/* HEADER STUFF */

#header{
  float: left;
  width: 80%;
  height: 30vmin;
	background-image: url("../assets/images/confetti2.svg"), url("../assets/images/p1.svg"), url("../assets/images/p2.svg"), url("../assets/images/p3.svg");
  background-size: auto; 220px 220px, 110px, 110px, 30px 30px;
  background-repeat: no-repeat, repeat, repeat, repeat;
  animation: poppers 60s linear infinite;
}

@keyframes poppers {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  25% {background-position: 0px 0px, 60px 500px, 10px 400px, -50px 150px;}
  75% {background-position: 0px 0px, 0px 1000px, 80px 800px, -100px 300px;}
  100% {background-position: 0px 0px, 20px 1500px, 0px 1000px, -200px 600px;}
}


@font-face {
    font-family: Paralines;
    src: url(../assets/fonts/Paralines.otf);
}

@font-face {
    font-family: Reef;
    src: url(../assets/fonts/Reef.otf);
}

@font-face {
    font-family: TwCenMT-Condensed;
    src: url(../assets/fonts/TwCen.ttf);
}


#party {
  font-size: 9vmin;
  margin: 2%;
  font-family: Paralines;
  color: white;
  animation: blink 4s linear infinite;
}

@keyframes blink {
  0% {  text-shadow: 0 0 5px #2980b9;}
  50% {  text-shadow: 0 0 10px #2980b9, 0 0 15px #2980b9, 0 0 20px #2980b9, 0 0 30px #2980b9, 0 0 40px #2980b9, 0 0 50px #2980b9, 0 0 60px #2980b9, 0 0 70px #2980b9, 0 0 80px #2980b9, 0 0 90px #2980b9, 0 0 100px #2980b9;}
  100% {  text-shadow: 0 0 5px #2980b9;}
}

p {
  font-size: 3vmin;
  font-family: Reef;
}

#hint {
  text-align: right;
  padding-right: 1vmin;
  color: #2980b9;
}

#logstatus{
  width: 20%;
  float: right;
  height: 30vh;
}

#text {
  padding-top: 4vmin;
  text-align: center;
  color: #7f8c8d;
}

/* FOOTER STUFF */

#footer {
  height: 25vh;
  width: 100%;
  clear: both;
  background-color: #34495e;
  bottom: 0;
  position: relative;
}

#footertext {
  float:left;
  height: 100%;
  width: 50%;
}

#partyfooter {
  font-size: 5vmin;
  font-family: Paralines;
  color: white;
  float: left;
  margin: 0;
}

#footerinfo {
  font-size: 2.2vmin;
  font-family: sans-serif;
  color: white;
  float: left;
  margin: 20vmin 0 0 10vmin;
  position: absolute;
}

#footerlinks {
  float:left;
  height: 100%;
  position: absolute;
  margin-left: 50%;
  width: 20%;
}

#footeradmin {
  font-size: 2.2vmin;
  font-family: sans-serif;
  color: white;
  bottom: 2vmin;
  position: absolute;
}

#footerimglink {
  height: 7vmin;
  width: 7vmin;
  float:left;
  padding: 8vmin 1vmin 0 3vmin;
}

#SI {
  height: 10vmin;
  width: 10vmin;
  float:right;
  padding-top: 2vmin;
}

a {
  text-decoration: none;
  color: white;
}

/* RESPONSIVE CODING */

@media screen and (max-width: 1200px) {

}

/* LOGIN AND SIGNUP PAGE STUFF */


#login {
  float: left;
  height: 100vh;
  width: 49.9%;
}

#signup {
  float: left;
  height: 100vh;
  width: 50%;
}

#intro {
  text-align: center;
  font-size: 4vmin;
  margin: 0 auto;
  background-color: #34495e;
  padding: 3vmin;
  color: #fff;
}

#logform, #signform {
  background-color: #fff;
  border: 1px solid #95a5a6;
  border-radius: 8px;
  margin: 5vmin auto;
  width: 70%;
  padding: 0 0 5vmin 0;
  box-shadow: 0 0 10px #95a5a6;
}

input[type=email], input[type=password], input[type=text], input[type=date] {
    display: block;
    box-sizing: border-box;
    width: 80%;
    padding: 2vmin 1vmin 2vmin 4vmin;
    margin: 3vmin auto;
    border: 1px solid #95a5a6;
    outline: none;
    border-radius: 4px;
    font-size: 2vmin;
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=date]:focus {
    border: 1px solid #34495e;
    box-shadow: 0 0 10px #34495e, 0 0 10px #34495e;
    transition: 0.5s;
}


input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 5px;
}

/* CREATE / UPDATE EVENT STUFF */

#text2 {
  padding-top: 2vmin;
  text-align: center;
  color: #7f8c8d;
}

#logout {
  color: #2980b9;
}

#createevent {
  float: left;
  height: 70vh;
  width: 49.9%;
  position: relative;
}

#updateevent {
  float: left;
  height: 70vh;
  width: 50%;
  position: relative;
}

#addimg {
  border-radius: 40px;
  height: 60vh;
  width: 28vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5%;
}

#addimg:hover {
  -webkit-filter: blur(0.7px);
  filter: blur(0.7px);
  transition: 0.5s;
  box-shadow: 0 0 15px black;
}

/* ADD NEW EVENT PAGE */

#addevent {
  width: 80%;
  float: left;
}

#sidebar {
  width: 20%;
  height: 50vh;
  background-color: green;
  right: 0;
  top:50vmin;
  position: fixed;
}

fieldset {
  border: none;
  box-shadow: 0 0 4px #000;
  margin-top: 2vmin;
  border-radius: 5px;
  position: relative;
  padding-top: 10vmin;
}

#type {
  display: block;
  margin-left: 15vmin;
  margin-right: auto;
}

.radio-hidden {
  visibility: hidden;
}

input[type=radio] + label>img {
  border-radius: 40px;
  border: 1px solid black;
}

input[type=radio]:checked + label>img{
  box-shadow: 0 0 30px #2980b9;
  background-color: rgba(0, 0, 0, 0.2);
}

#eventdate {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#addlabel {
  position: absolute;
  top: 2%;
  left:2%;
  width: 96%;
  font-family: Reef;
  font-size: 5vmin;
  text-align: center;
  background-color: white;
  opacity: 0.7;
}

#venue {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 1vmin 2vmin;
  width: 50%;
  font-size: 3vmin;
}

#venue:focus {
  box-shadow: 0 0 10px #2980b9;
}

#venueinfo {
  padding: 5vmin;
}

#venuedesc {
  margin: 0;
}

#venuepic {
  height: 5vmin;
  width: 5vmin;
  float: right;
}

button2 {
  display: block;
  padding: 1.5vmin;
  width: 18%;
  border-width: 0;
  font-size: 2.2vmin;
  font-weight: bold;
  background-color: #34495e;
  color: #fff;
  float: right;
  margin-right: 10vmin;
}


/* INVITATION SENDER */

#invigen {
  width: 70%;
  float: left;
  height: 95vh;
  position: relative;
}

#inviheading {
  padding: 2vh;
  text-align: center;
  color: white;
  font-size: 6vmin;
  background-color: #34495e;
  box-shadow: 0 0 15px black;
  margin: 0;
}

#prevtext {
  padding: 3.3vh;
  text-align: center;
  color: white;
  font-size: 4vmin;
  background-color: #34495e;
  box-shadow: 0 0 15px black;
  margin: 0;
}

#previewpic {
  width: 30%;
  border: 1px solid #95a5a6;
  height: 95vh;
  right: 0;
  position: absolute;
  top:30vh;
}

#invibtn1, #invibtn2 {
  width: 40%;
  border-width: 0;
  padding: 2vmin;
  font-size: 3vmin;
  background-color: #34495e;
  color: #fff;
  border-radius: 20px;
  margin: 2vh auto;
  right: 0;
  left: 0;
  display: block;
  position: absolute;

}

#invibtn2 {
  top: 60vh;
}
#invibtn2:disabled {
  opacity: 0.5;
}

#inputname, #inputdate {
    display: block;
    box-sizing: border-box;
    width: 40%;
    padding: 2vmin 1vmin 2vmin 4vmin;
    margin: 3vmin auto;
    border: 1px solid #95a5a6;
    outline: none;
    border-radius: 4px;
    font-size: 2vmin;
}

#inputname:focus {
    border: 1px solid #34495e;
    box-shadow: 0 0 10px #34495e, 0 0 10px #34495e;
    transition: 0.5s;
}

#type2 {
margin-left: 21vw;
}

#invitype {
  display: block;
  border-radius: 4px;
  padding: 1vmin 2vmin;
  width: 27vw;
  font-size: 3vmin;
}

#piccontent {
  position: relative;
}

#Layer_1 {
  position: relative;
  top: 0;
  left: 0;
}

#Layer_2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#invilink {
  position: absolute;
  right: 1vw;
  top: 70vh;
}

/* BOOK NOW BUTTON */

#btnbook {
  display: block;
  margin: 1vmin auto;
  padding: 4vmin;
  width: 80%;
  border-width: 0;
  border-radius: 20px;
  font-size: 3vmin;
  font-weight: bold;
  background-image: url("../assets/images/booknow.svg");
  color: #fff;
}

#btnbook:hover {
opacity: 0.8;
}

#btnbook:focus {
  opacity: 0.9;
}

#updateevent2 {
  float: left;
  height: 70vh;
  width: 100%;
  position: relative;
}
